<a href="https://colab.research.google.com/github/TechyMT/ClassWork/blob/main/DSBDA/Assgn3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.1 Descriptive Statistics - Measures of Central Tendency and variability
Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv("/content/nba.csv")

In [ ]:
print(df.shape)
df.head()

(458, 9)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [ ]:
df["Salary"].fillna(df["Salary"].mean(), inplace = True)

df.isna().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary       0
dtype: int64

In [ ]:
mode = df["College"].mode()
df["College"].fillna(mode, inplace= True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [ ]:
df["Height"].value_counts()

Height
6-9     50
6-7     37
6-6     37
6-8     36
6-10    34
6-5     30
6-11    29
6-4     28
6-3     27
7-0     20
6-2     15
6-1     12
6-0     10
5-11     3
7-1      3
5-9      1
7-2      1
Name: count, dtype: int64

In [ ]:
groups = df.groupby(df["Height"])

In [ ]:
print(groups.get_group('6-11'))

                   Name                    Team  Number Position   Age Height  \
24     Chris McCullough           Brooklyn Nets     1.0       PF  21.0   6-11
55         Nerlens Noel      Philadelphia 76ers     4.0       PF  22.0   6-11
56        Jahlil Okafor      Philadelphia 76ers     8.0        C  20.0   6-11
60       Christian Wood      Philadelphia 76ers    35.0       PF  20.0   6-11
73       Jason Thompson         Toronto Raptors     1.0       PF  29.0   6-11
81         Festus Ezeli   Golden State Warriors    31.0        C  26.0   6-11
91         Cole Aldrich    Los Angeles Clippers    45.0        C  27.0   6-11
98       DeAndre Jordan    Los Angeles Clippers     6.0        C  27.0   6-11
113          Ryan Kelly      Los Angeles Lakers     4.0       PF  25.0   6-11
143    DeMarcus Cousins        Sacramento Kings    15.0        C  25.0   6-11
162         Joakim Noah           Chicago Bulls    13.0        C  31.0   6-11
163        Bobby Portis           Chicago Bulls     5.0       PF  21.0   6-11
167       Channing Frye     Cleveland Cavaliers     9.0       PF  33.0   6-11
173          Sasha Kaun     Cleveland Cavaliers    14.0        C  31.0   6-11
188      Andre Drummond         Detroit Pistons     0.0        C  22.0   6-11
208        Myles Turner          Indiana Pacers    33.0       PF  20.0   6-11
209  Shayne Whittington          Indiana Pacers    42.0       PF  25.0   6-11
216         John Henson         Milwaukee Bucks    31.0       PF  25.0   6-11
220         Greg Monroe         Milwaukee Bucks    15.0        C  26.0   6-11
224       Miles Plumlee         Milwaukee Bucks    18.0        C  27.0   6-11
239       Dwight Powell        Dallas Mavericks     7.0       PF  24.0   6-11
240  Charlie Villanueva        Dallas Mavericks     3.0       PF  31.0   6-11
294   LaMarcus Aldridge       San Antonio Spurs    12.0       PF  30.0   6-11
298          Tim Duncan       San Antonio Spurs    21.0        C  40.0   6-11
316        Mike Muscala           Atlanta Hawks    31.0       PF  24.0   6-11
339          Chris Bosh              Miami Heat     1.0       PF  32.0   6-11
399        Gorgui Dieng  Minnesota Timberwolves     5.0        C  26.0   6-11
418         Enes Kanter   Oklahoma City Thunder    11.0        C  24.0   6-11
439       Mason Plumlee  Portland Trail Blazers    24.0        C  26.0   6-11

     Weight           College      Salary
24    200.0          Syracuse   1140240.0
55    228.0          Kentucky   3457800.0
56    275.0              Duke   4582680.0
60    220.0              UNLV    525093.0
73    250.0             Rider    245177.0
81    265.0        Vanderbilt   2008748.0
91    250.0            Kansas   1100602.0
98    265.0         Texas A&M  19689000.0
113   230.0              Duke   1724250.0
143   270.0          Kentucky  15851950.0
162   232.0           Florida  13400000.0
163   230.0          Arkansas   1391160.0
167   255.0           Arizona   8193029.0
173   260.0            Kansas   1276000.0
188   279.0       Connecticut   3272091.0
208   243.0             Texas   2357760.0
209   250.0  Western Michigan    845059.0
216   229.0    North Carolina   2943221.0
220   265.0        Georgetown  16407500.0
224   249.0              Duke   2109294.0
239   240.0          Stanford    845059.0
240   232.0       Connecticut    947276.0
294   240.0             Texas  19689000.0
298   250.0       Wake Forest   5250000.0
316   240.0          Bucknell    947276.0
339   235.0      Georgia Tech  22192730.0
399   241.0        Louisville   1474440.0
418   245.0          Kentucky  16407500.0
439   235.0              Duke   1415520.0

In [ ]:
groups["Salary"].describe()

,count,mean,std,min,25%,50%,75%,max
Height,,,,,,,,
5-11,3.0,5.891553e+05,7.926627e+05,55722.0,133733.00,211744.0,8.558720e+05,1500000.0
5-9,1.0,6.912869e+06,NaN,6912869.0,6912869.00,6912869.0,6.912869e+06,6912869.0
6-0,10.0,5.784075e+06,6.337144e+06,947276.0,2437500.00,3934473.5,4.846419e+06,21468695.0
6-1,12.0,5.456567e+06,4.585905e+06,700902.0,1898610.00,3402626.5,9.522106e+06,13500000.0
6-10,34.0,5.111545e+06,5.162012e+06,222888.0,1044792.25,3782500.0,6.860602e+06,19689000.0
6-11,29.0,5.920326e+06,7.067208e+06,245177.0,1140240.00,2109294.0,8.193029e+06,22192730.0
6-2,15.0,2.862862e+06,2.576949e+06,525093.0,947276.00,1282080.0,4.842684e+06,8000000.0
6-3,27.0,5.765194e+06,5.759044e+06,189455.0,1841940.00,4053446.0,7.500000e+06,20093064.0
6-4,28.0,4.358526e+06,5.135309e+06,134215.0,1006902.75,2515440.0,5.167034e+06,20000000.0
6-5,30.0,4.379143e+06,4.235717e+06,55722.0,1159800.00,3095478.0,5.923668e+06,16407500.0
6-6,37.0,2.963790e+06,3.167094e+06,167406.0,947276.00,1449000.0,4.000000e+06,11710456.0
6-7,37.0,3.716167e+06,4.684027e+06,200600.0,981348.00,1449187.0,3.553917e+06,16407500.0
6-8,36.0,5.616665e+06,5.807020e+06,83397.0,1128220.00,3166666.5,8.757132e+06,22875000.0
6-9,50.0,4.215916e+06,4.712344e+06,111444.0,1001756.50,2494765.0,5.951506e+06,20158622.0
7-0,20.0,5.356997e+06,5.159196e+06,947276.0,1941611.00,3801240.0,6.202700e+06,19689000.0
7-1,3.0,4.331011e+06,1.583467e+06,3075880.0,3441500.00,3807120.0,4.958577e+06,6110034.0
7-2,1.0,1.559222e+07,NaN,15592217.0,15592217.00,15592217.0,1.559222e+07,15592217.0

In [58]:
df["Age"].describe()

count    373.000000
mean      26.648794
std        4.250551
min       19.000000
25%       24.000000
50%       26.000000
75%       29.000000
max       40.000000
Name: Age, dtype: float64

In [78]:
bins = [10,20,30,40]
labels=["10-20", "20-30", "30-40"]
df["AgeGroup"] = pd.cut(df["Age"], bins, labels = labels)


age_groups = df.groupby("AgeGroup")

In [79]:
age_groups["Salary"].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
10-20,17.0,2.536190e+06,1.523857e+06,525093.0,1733040.0,2239800.0,2841960.0,5703600.0
20-30,290.0,4.627182e+06,5.069385e+06,55722.0,986011.0,2494765.0,6496621.5,20158622.0
30-40,66.0,5.157263e+06,5.488817e+06,200600.0,1461687.0,3850156.5,5469743.5,22875000.0